<!-- contact -->
<section class="content-section text-white" id="contact"
    style="padding-top: 6rem; padding-bottom: 6rem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                {{- $contacts := .Site.Params.contact -}}
                {{ range $contact := $contacts }}
                <h5 class="contact-info">{{ $contact.title }}: {{
                    $contact.content | markdownify }}</h5>
                {{ end }}
            </div>
        </div>
    </div>
</section>