<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content="{{ .Title }}">

    <title>{{ .Title }} | About Me</title>
    <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
    <!-- <link rel="shortcut icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤪</text></svg>"> -->

    <!-- Bootstrap Core CSS -->
    {{ $styles := resources.Get "vendor/bootstrap/css/bootstrap.min.css" }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

    <!-- Custom Fonts -->
    {{ $styles := resources.Get "vendor/font-awesome/css/font-awesome.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

    {{ $styles := resources.Get "fonts/font-mfizz-2.2/font-mfizz.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

    {{ $styles := resources.Get "vendor/simple-line-icons/css/simple-line-icons.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    {{ $styles := resources.Get "css/combined.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

    {{ $fonts := resources.Match "fonts/font-mfizz-2.2/*" }}
    {{ range $fonts }}
    {{ with resources.Copy (printf "%s" .Name) . }}
    <!-- <link rel="preload" href="{{ .RelPermalink }}" crossorigin> -->
    {{ end }}
    {{ end }}

    {{ $fonts := resources.Match "vendor/font-awesome/fonts/*" }}
    {{ range $fonts }}
    {{ with resources.Copy (printf "%s" .Name) . }}
    <!-- <link rel="preload" href="{{ .RelPermalink }}" crossorigin> -->
    {{ end }}
    {{ end }}

    {{ $fonts := resources.Match "images/*" }}
    {{ range $fonts }}
    {{ with resources.Copy (printf "%s" .Name) . }}
    <!-- <link rel="preload" href="{{ .RelPermalink }}" crossorigin> -->
    {{ end }}
    {{ end }}
</head>